body {
  background-image: url("res/bg-1.jpeg");
  color: white;
}

.cost-qty, .stat-qty {
  font-family: sans-serif;
}

.cost-qty {
  color: red;
}

.gain-qty {
  color: green;
}

button {
  background-color: black;
}

#content {
  border: solid black 1px;
  margin: 1em;
  padding: 1em;
  background-color: rgba(0,0,0,0.8);
}

